@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-custom-bg: #d1dfec;
  --color-biru-gelap: #081e35;
  --color-custom-merah: #a6282b;
  --color-custom-biru: #1c80f0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
